<ng-template>
  <div [@state]="'visible'" role="tooltip" aria-hidden="false">
    <div class="tooltip_content">
      <span aria-hidden="true" class="tooltip_close icon_close" (click)="closeTooltip()" *ngIf="showCloseButton">
        <svg viewPort="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <line x1="1" y1="11" x2="11" y2="1" stroke="grey" stroke-width="2" />
          <line x1="1" y1="1" x2="11" y2="11" stroke="grey" stroke-width="2" />
        </svg>
      </span>
      <span [id]="id">
        <ng-content></ng-content>
      </span>
    </div>
  </div>
</ng-template>