.icon_close {
    position: absolute;
    top: .2rem;
    right: .2rem;
    cursor: pointer;
    height: 10px; 
    width: 10px;
}
.tooltip_content {
    font-size: .54167rem;
    font-weight: 400;
    letter-spacing: normal;
    background: #000;
    border-radius: .125rem;
    color: #fff;
    line-height: .75rem;
    padding: .375rem .5rem;
    border-bottom-left-radius: 0;
}
